@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"><strong>Welcome IES Group 10</strong></h1>
    <h2>Group Members</h2>
    <p style="font-size: 26px"><strong>Akash Kumar</strong></p>
    <p style="font-size: 26px"><strong>Sukhjeet Kaur</strong></p>
    <p style="font-size: 26px"><strong>Darshan Hemantkumar</strong></p>
    <p style="font-size: 26px"><strong>Rohan Juneja</strong></p>
    
    

</div>
